/* === Принудительно светлая тема === */
:root.theme-light {
  --page-bg-image: url("../images/cover-image-light.png");
  --color-bg-page: #efb5cf; /* светлый фон */
  --accent-color: #ff8dcb; /* розовый акцент, тени, уголки */
  --color-title: #ffc2e6; /* крупные заголовки */
  --color-text: #353430; /* основной текст на светлом */
  --color-text-dark: #353430; /* тёмный текст на розовом */
  --color-card-bg: var(--accent-color);
  --corner-color-light-theme: var(--color-text-dark);
  --button-color-light-theme: var(--color-text-dark);
}

.theme-light .decoration-element {
  display: none;
}

.theme-light .cards .card__heading {
  color: var(--color-text-dark);
}

.theme-light .footer__title {
  text-shadow: 2px 2px 0 #ff0070;
}

@media (prefers-color-scheme: light) {
  :root {
    --page-bg-image: url("../images/cover-image-light.png");
    --color-bg-page: #fff1f7;
    --accent-color: #ff8dcb;
    --color-title: #ffc2e6;
    --color-text: #353430;
    --color-text-dark: #353430;
    --color-card-bg: var(--accent-color);
    --corner-color-light-theme: var(--color-text-dark);
    --button-color-light-theme: var(--color-text-dark);
  }

  .decoration-element {
    display: none;
  }

  .cards .card__heading {
    color: var(--color-text-dark);
  }

  .footer__title {
    text-shadow: 2px 2px 0 #ff0070;
  }

  .decorated-zone::before {
    border-top: var(--corner-thickness) solid var(--corner-color-light-theme);
    border-right: var(--corner-thickness) solid var(--corner-color-light-theme);
  }

  .decorated-zone::after {
    border-bottom: var(--corner-thickness) solid var(--corner-color-light-theme);
    border-left: var(--corner-thickness) solid var(--corner-color-light-theme);
  }

  .header__theme-menu-button {
    color: var(--button-color-light-theme);
  }

  .header__theme-menu-button_active {
    box-shadow: inset 0 0 0 1px var(--button-color-light-theme);
    cursor: default;
  }

  .header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
    box-shadow: inset 0 0 0 1px #32312d66;
  }

  .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--accent-color);
    outline: none;
    text-decoration: none;
  }
}
