.page {
  background-color: var(--color-bg-page);
  background-image: var(--page-bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: start;
  align-items: start;
  height: 100dvh;
  padding: var(--page-pad);
  min-block-size: 668px;
}

.decoration-element {
  position: absolute;
  top: var(--page-pad);
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: var(--accent-color);
  font-family: var(--font-main);
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  inset-inline-end: 20px;
}

.decoration-element::after {
  content: "";
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu-list {
  display: grid;
  gap: 15px;
}

.header__title {
  grid-row: 2;
  justify-self: start;
  align-self: end;
  color: var(--color-title);
  font-family: var(--font-main);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  letter-spacing: 0;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__lead {
  grid-row: 3;
  justify-self: stretch;
  align-self: center;
  color: var(--color-text-dark);
  font-family: var(--font-main);
  font-weight: bold;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0;
}

.title-decor {
  background-color: var(--color-card-bg);
}

.header__theme-menu {
  grid-row: 1;
  justify-self: end;
  align-self: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 30px;
  padding: var(--page-pad);
}

.link {
  line-height: 1;
  letter-spacing: 0;
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.link:hover {
  border-bottom: 1px solid var(--color-text);
}

.link:focus {
  outline: 1px solid var(--color-text); /* рамка */
  outline-offset: 2px;
}

.gallery__item {
  grid-column: auto;
  grid-row: auto;
}

.cards {
  display: grid;
  justify-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card:not(:last-child) {
  margin-bottom: 20px;
}

.card__heading {
  margin-bottom: 20px;
  color: var(--color-card-heading);
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0;
}

h3.card__heading-additional {
  margin-bottom: 20px;
  color: var(--color-text-dark);
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0;
}

.card__title {
  color: var(--color-text-dark);
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0;
}

h2.card__title {
  margin-bottom: 10px;
}

.card__body {
  color: var(--color-text);
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0;
}

.cards--advices {
  font-weight: 400;
}

.images-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  list-style: none;
}

.gallery__item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  margin-top: 30px;
  padding: var(--page-pad);
  min-block-size: 668px;
}

.footer__title {
  color: var(--color-title);
  font-family: var(--font-main);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  letter-spacing: 0;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: var(--page-pad);
  right: var(--page-pad);
  border-top: var(--corner-thickness) solid var(--corner-color-dark-theme);
  border-right: var(--corner-thickness) solid var(--corner-color-dark-theme);
  pointer-events: none;
  inline-size: var(--corner-size);
  block-size: var(--corner-size);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: var(--page-pad);
  left: var(--page-pad);
  display: inline-block;
  border-bottom: var(--corner-thickness) solid var(--corner-color-dark-theme);
  border-left: var(--corner-thickness) solid var(--corner-color-dark-theme);
  pointer-events: none;
  inline-size: var(--corner-size);
  block-size: var(--corner-size);
}

.header__theme-menu-button {
  border: none;
  border-radius: 0;
  padding-inline: 13px; /* по макету */
  padding-block: 1.5px; /* по макету */
  color: var(--button-color-dark-theme);
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0;
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  box-shadow: inset 0 0 0 1px var(--accent-color);
  cursor: default;
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  box-shadow: inset 0 0 0 1px rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
  outline: none;
  text-decoration: none;
}

@media (min-width: 768px) {
  :root {
    --page-pad: 20px;
  }

  .decoration-element {
    inset-inline-end: 30px;
  }

  .header {
    grid-template-columns: 1fr 1fr;
    min-block-size: 1024px;
  }

  .header__theme-menu {
    grid-column: 2;
  }

  .header__title {
    position: relative;
    left: -20px;
    grid-column: 1 / 3;
    align-self: center;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__lead {
    grid-column: 2;
    justify-self: end;
  }

  main {
    gap: 80px;
    margin-top: 40px;
  }

  .card__heading {
    grid-column: 1;
    justify-self: start;
    align-self: start;
    margin: 0;
  }

  .cards.cards--main {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  .cards--main .cards__list {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 4;
  }

  .cards.cards--secondary {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .cards__list.cards__list--stacked {
    grid-column: 1 / 4;
    grid-row: 2;
  }

  .cards.cards--extra {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .cards__container {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 4;
    grid-row: 1;
    margin-left: 13px;
  }

  .images-list {
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    gap: 20px;
  }

  .gallery h2 {
    margin-bottom: 20px;
  }

  .gallery__item--wide {
    grid-column: 1 / span 2;
  }

  .gallery__item--ice {
    grid-column: 3;
    grid-row: 1 / span 2;
  }

  .gallery__item--tape {
    grid-column: 1;
    grid-row: 2 / span 2;
  }

  .gallery__item--books {
    grid-column: 2;
    grid-row: 2;
  }

  .gallery__item--street {
    grid-column: 2 / span 2;
    grid-row: 3;
  }

  .footer {
    margin-top: 40px;
    min-block-size: 1024px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (min-width: 1024px) {
  :root {
    --page-pad: 20px;
  }

  .decoration-element {
    inset-inline-end: 30px;
  }

  .header {
    min-block-size: 768px;
  }

  .header .header__theme-menu {
    grid-column: 1 / 3; /* меню на всю ширину грида */
    grid-row: 1;
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

  .cards.cards--main {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-items: start;
    align-items: start;
    gap: 20px;
  }

  .card:not(:last-child) {
    margin-bottom: 0;
  }

  .cards .cards__list {
    display: grid;
    gap: 20px;
  }

  .card__heading {
    margin-bottom: 0;
  }

  .cards__container {
    margin-left: 7px;
  }

  .cards:not(.cards--secondary) .cards__list {
    grid-template-columns: 1fr;
  }

  .cards.cards--secondary .card__heading {
    grid-column: 1 / 2; /* заголовок на всю ширину */
  }

  .cards.cards--secondary .cards__list,
  .cards.cards--secondary .cards__list--stacked {
    grid-template-columns: repeat(3, minmax(0, 1fr)); /* три колонки */
    grid-column: 1 / -1; /* список на всю ширину */
  }

  .footer {
    min-block-size: 768px;
  }
}

.theme-light .header__theme-menu-button {
  color: var(--button-color-light-theme);
}

.theme-light .header__theme-menu-button_active {
  box-shadow: inset 0 0 0 1px var(--button-color-light-theme);
  cursor: default;
}

.theme-light
  .header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  box-shadow: inset 0 0 0 1px rgba(50, 49, 45, 0.4);
}

.theme-light .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color-light-theme);
  outline: none;
  text-decoration: none;
}

/* Уголки */
.theme-light .decorated-zone::before {
  border-top: var(--corner-thickness) solid var(--corner-color-light-theme);
  border-right: var(--corner-thickness) solid var(--corner-color-light-theme);
}

.theme-light .decorated-zone::after {
  border-bottom: var(--corner-thickness) solid var(--corner-color-light-theme);
  border-left: var(--corner-thickness) solid var(--corner-color-light-theme);
}

.theme-light .cards .card__heading {
  color: var(--color-text-dark);
}

.theme-light .footer__title {
  text-shadow: 2px 2px 0 #ff0070;
}
